# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# Editor files
.idea/      # JetBrains IDEs (WebStorm, IntelliJ)
.vscode/    # VS Code settings 

# Ignore environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore system files
.DS_Store    # macOS thumbnail cache
Thumbs.db    # Windows thumbnail cache

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

